<h2>nombre: {{ persona.nombrePersona }}</h2>
<h2>apellido: {{ persona.apellido }}</h2>

<h1>Formulario Personal de {{ nombre }}</h1>

<label>Nombre: </label>
<input #inputNombre [(ngModel)]="persona.nombrePersona" />
<br />
<br />
<label>Correo electronico: </label
><input #inputEmail [(ngModel)]="persona.email" />
<br />
<br />
<label>URL: </label><input type="url" />
<br />
<br />
<label>Fecha: </label> <input type="date" />
<br />
<br />
<label>Tiempo: </label> <input type="time" />
<br />
<br />
<label>Fecha y Hora: </label> <input type="date" /> <input type="time" />
<br />
<br />
<label>Mes: </label> <input type="month" />
<br />
<br />
<label>Semana: </label> <input type="week" />
<br />
<br />
<label>Numero: </label>
<input type="number" min="-10" max="10" />
<br />
<br />
<label>Teléfono: </label>
<input type="tel" #inputTelefono [(ngModel)]="persona.telefono" />
<br />
<br />
<label>Término de busqueda: </label> <input type="search" />
<br />
<br />
<label>Color favorito: </label> <input type="color" />
<br />
<br />
<button (click)="mostrarDatos()">
  Enviar
</button>

<!-- <h4>Nombre: {{ persona.nombrePersona }}</h4>
<h4>Email: {{ persona.email }}</h4>
<h4>Telefono: {{ persona.telefono }}</h4> -->
