<div class="estilo1">
  <h1 class="colorrojo">HTML & CSS : Curso Práctico Avanzado</h1>
  <h2 class="colorrojo">
    Datos del libro
  </h2>

  <li>
    <span class="colorverde">Título:</span>
    <span class="colorazul">HTML &amp; CSS: Curso práctico avanzado</span>
  </li>

  <li>
    <span class="colorverde">Autor:</span>
    <span class="colorazul">Sergio Luján Mora</span>
  </li>
  <li>
    <span class="colorverde">Editorial:</span>
    <span class="colorazul">Publicaciones Altaria</span>
  </li>
  <li>
    <span class="colorverde">Año de publicación:</span
    ><span class="colorazul"> 2015</span>
  </li>
  <li>
    <span class="colorverde">ISBN:</span>
    <span class="colorazul">978-84-944049-4-8</span>
  </li>
  <h2 class="colorrojo">
    Descripción del libro
  </h2>
  <p class="colorazul">
    Aunque los inicios de
    <b><span class="fuente">Internet</span></b> se remontan a los años sesenta,
    no ha sido hasta los años noventa cuando, gracias a la
    <b><span class="fuente">Web</span></b
    >, se ha extendido su uso por todo el mundo. En pocos años, la
    <b><span class="fuente">Web</span></b> ha evolucionado enormemente: se ha
    pasado de páginas sencillas, con pocas imágenes y contenidos estáticos que
    eran visitadas por unos pocos usuarios a páginas complejas, con contenidos
    dinámicos que provienen de bases de datos y que son visitadas por miles de
    usuarios al mismo tiempo.
  </p>
  <br />
  <p class="colorazul">
    Todas las páginas están internamente construidas con la misma tecnología,
    con el Lenguaje de marcas de hipertexto (<span class="estilo2"
      >Hypertext Markup Language, HTML</span
    >) y con las Hojas de estilo en cascada (<span class="estilo2"
      >Cascading Style Sheets, CSS</span
    >).
  </p>
  <br />

  <p class="colorazul">
    Este libro es adecuado para cualquiera que tenga interés en aprender a
    desarrollar sus propias páginas web. No son necesarios conocimientos previos
    para aprender con este libro, lo único que es necesario es saber utilizar un
    ordenador y saber navegar por la
    <b><span class="fuente">Web</span></b
    >.
  </p>
  <br />
  <h2 class="colorrojo">
    Contenido del libro
  </h2>
  <br />

  <li>
    <span class="colorazul">
      En la primera parte del libro se trabajan conceptos generales que son
      necesarios para poder desarrollar páginas web; se explican conceptos de
      estructura física y estructura lógica (o estructura de navegación) de un
      sitio web. Se detalla cómo influye la estructura física en las
      <span class="stilo2">URL</span> o direcciones que se emplean a la hora de
      crear los enlaces de un sitio web. Pasando por el concepto de "estándar
      web", un término general que se emplea para refererirse a los estándares
      que define su funcionamiento como <span class="stilo2">HTML</span> y
      <span class="stilo2">CSS</span>
      >, empleados para el desarrollo de las páginas web en el lado del cliente.
    </span>
  </li>

  <li>
    <span class="colorazul">
      En la segunda parte se trabaja
      <span class="stilo2">HTML</span>
      . Partiendo de la estructura básica de una página web, se explican las
      etiquetas de
      <span class="stilo2">HTML</span> que se utilizan para definir el texto,
      los enlaces, las listas, las tablas, los formularios y los elementos
      multimedia.
    </span>
  </li>

  <li>
    <span class="colorazul"> En la tercera y última parte se explica</span>
    <span class="stilo2">CSS</span
    ><span class="colorazul">
      , el lenguaje que se emplea para definir el formato y la presentación de
      una página web. Se explica cómo utilizar el color, cómo definir la
      presentación del texto, de las tablas y de los formularios; cómo realizar
      transformaciones y transiciones con el fin de diseñar una página
      web.</span
    >
  </li>
</div>
