<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>nombre:</mat-label>
    <input matInput   [(ngModel)]="nombre">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>genero:</mat-label>
    <input matInput [(ngModel)]="genero">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>año:</mat-label>
    <input matInput [(ngModel)]="anio">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>imagen:</mat-label>
    <input matInput [(ngModel)]="imagen">
  </mat-form-field>
  <mat-form-field>
    <button mat-raised-button color="primary" (click)="agregar()" >agregar</button>
  </mat-form-field>
 
</form>




 
  

<div fxLayout="row" fxLayoutAlign="space-between">
  <app-vista-pelicula
    *ngFor="let elemento_arreglo of vector_pelicula"
    [nombre_entrada]="elemento_arreglo.nom"
    [genero_entrada]="elemento_arreglo.gen"
    [anio_entrada]="elemento_arreglo.an"
    [imagen_entrada]="elemento_arreglo.imag"
  >
  </app-vista-pelicula>
</div>
<br>


