<form class="example-form" [formGroup]="peliculaForms">
  <mat-form-field appearance="fill">
    <mat-label>nombre:</mat-label>
    <input matInput formControlName="nombre" name="nombre" />
    <mat-error>Complete el nombre</mat-error>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>genero:</mat-label>
    <input matInput formControlName="genero" name="genero" />
    <mat-error>Complete el genero</mat-error>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>año:</mat-label>
    <input matInput formControlName="anio" name="anio" />
    <mat-error>Complete el año</mat-error>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>imagen:</mat-label>
    <input matInput formControlName="imagen" name="imagen" />
  </mat-form-field>
  <br />
  <button
    mat-raised-button
    color="primary"
    (click)="agregar()"
    [disabled]="!peliculaForms.valid"
  >
    agregar
  </button>
</form>

<!-- <div fxLayout="column" *ngFor="let elemento_arreglo of vector_pelicula">
  <app-vista-pelicula
    class="separacion"
    [nombre_entrada]="elemento_arreglo.nom"
    [genero_entrada]="elemento_arreglo.gen"
    [anio_entrada]="elemento_arreglo.an"
    [imagen_entrada]="elemento_arreglo.imag"
  >
  </app-vista-pelicula>
</div>

<br /> -->
