<mat-toolbar>
  <a mat-button routerLink="" class="separacion">Home</a>
  <a mat-button routerLink="seccion1" class="separacion">Contacto</a>
  <a mat-button routerLink="s2" class="separacion">Sobre Nosotros</a>
  <a mat-button routerLink="vistapelicula" class="separacion"
    >Peliculas Agregadas</a
   >
  <a mat-button routerLink="vistapasajero" class="separacion"
    >Pasajeros Agregados</a
    
  >

  <a mat-button routerLink="usuarios" class="separacion"
    >Usuarios</a
   >
   <a mat-button routerLink="productos" class="separacion"
   >Productos</a>

   <a mat-button routerLink="posteos" class="separacion"
   >posteos</a>
</mat-toolbar>

<router-outlet> </router-outlet>
