.avatar {
  border-radius: 50%;
  background-image: url("avatar.png");
  background-position: center;
  background-size: cover;
  height: 64px;
  width: 64px;
}
.pantallaIngreso {
  text-align: center;
  width: 300px;
  margin-left: 0px;
  margin-top: 70px;
  background-color: rgb(44, 206, 166);
}
.etiquetas {
  margin-right: 5px;
  font-weight: bold;
  color: white;
}
.boton {
  font-weight: bold;
}
