<!-- "div" permite armar un bloque (agrupar varias etiquetas) -->
<div style="background-color: cadetblue;">
  <h1>hola mundo</h1>
  <h2>hola mundo</h2>
  <h3>hola mundo</h3>
  <h4>hola mundo</h4>
  <h5>hola mundo</h5>
  <h6>hola mundo</h6>
</div>

<!-- la etiqueta "H" es para titulos podemps usar hasta 6 tamaños -->
<h1>hola mundo</h1>
<h2>hola mundo</h2>
<h3>hola mundo</h3>
<h4>hola mundo</h4>
<h5>hola mundo</h5>
<h6>hola mundo</h6>

<!-- la etiqueta "P" es para parrafo -->
<p>
  La biología es la rama de la ciencia que estudia los procesos naturales​ de
  los organismos vivos,
</p>
​
<P>
  considerando su anatomía, fisiología, evolución, desarrollo, distribución y
  relaciones.
</P>

<!-- la etiqueta "BR" es un salto de linea (enter)-->
<br />

<!-- la etiqueta "A" se utiliza para poner links. "href" es un atributo que tiene el link al cual queremos ir -->
<a href="https://www.w3schools.com">Visit W3Schools</a>
<br />

<!-- "target" es un atributo que abre otra ventana cuando pulsamos el link -->
<a href="https://www.google.com" target="_blank">ir a google</a>

<!-- "hr" Esto hace una linea horizontal -->
<hr />
<br />
<p>
  esta la primera linea esta es la tercera linea esta la cuarta linea
</p>

<!-- "pre" mantiene el formato de lo que esta adentro -->
<pre>
      esta la primera linea 
      
      esta es la tercera linea
      
      esta la cuarta linea
    </pre
>
<hr />
<br />
<!-- "Style" atributo para darle estilo a la etiqueta -->
<!-- "background-color" cambia color de fondo -->
<!-- "color" cambia color de la fuente -->
<h1 style="background-color: chartreuse; color: crimson;">Prueba de Estilo</h1>
<p style="background-color: crimson; color: aliceblue;">Esto es un parrafo</p>
<hr />
<br />
<!-- "font-famaly" cambia el tipo de letra -->
<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
  "
>
  Esto es un parrafo con difretne letra
</p>
<!-- "font-size" cambia tamaño de la fuente -->
<p style="font-size: 50px;">Esto es una parrafo con 50 px</p>
<p style="font-size: 160%;">Esto es un parrafo 160%</p>

<hr />
<br />
<!-- "text-aling" para alinear el texto de su cajita-->
<h1 style="background-color: chartreuse; color: crimson; text-align: center;">
  Prueba de Estilo centrada
</h1>
<br />

<p style="background-color: crimson; color: aliceblue; text-align: end;">
  Esto es un parrafo alineado al final de la caja
</p>
<hr />
<br />
<!--"span" cambiar stilo dentro de otra etiqueta-->
<p>
  <b>Argentina </b>es un país sudamericano de gran envergadura con un terreno
  que incluye las montañas de
  <span style="background-color: chartreuse;">
    los Andes, lagos glaciales y praderas en las Pampas, la tierra tradicional
    de pastoreo de su famoso ganado.
  </span>
  El país es conocido por el <u>baile</u> y la música del tango. Su gran capital
  cosmopolita,<i>Buenos Aires</i> , se centra en la Plaza de Mayo, rodeada por
  imponentes edificios del siglo XIX, como la Casa Rosada, el icónico palacio
  presidencial.
</p>
<b>Esto es un texto en negrita </b>
<i>Esto esta en italica</i>
<u>Esto es un texto subrayado</u>
