<div class="pantallaIngreso">
  <br />
  <label for="descAplicar"> Descuento de 500 a 999: </label>
  <input type="number" name="descAplicar" [(ngModel)]="descuento1" />
  <br />
  <br />
  <label for="descAplicar2"> Descuento de 1000 a 1499: </label>
  <input type="number" name="descAplicar2" [(ngModel)]="descuento2" />
  <br />
  <br />
  <label for="descAplicar3"> Descuento más de 1500 : </label>
  <input type="number" name="descAplicar3" [(ngModel)]="descuento3" />
  <br />
  <br />
  <label for="descEfectivo"> Descuento Efectivo : </label> <br />
  <input type="number" name="descEfectivo" [(ngModel)]="descuentoEfectivo" />
  <br />
  <br />
  <label for="descTarjeta"> Descuento Tarjeta : </label><br />
  <input type="number" name="descTarjeta" [(ngModel)]="descuentoTarjeta" />
  <br />

  <br />
</div>
<br />
<br />
<app-descuentos2
  [usuarioNuevo]="usuarioIngreso"
  [desc1]="descuento1"
  [desc2]="descuento2"
  [desc3]="descuento3"
  [descEfectivo]="descuentoEfectivo"
  [descTarjeta]="descuentoTarjeta"
></app-descuentos2>
