.tarjetaPeli {
  background-color: rgb(213, 228, 200);
  border: 2px black outset;
  text-align: center;

  font-style: italic;
  margin-top: 30px;
  width: 150px;
}
.separacion {
  margin-top: 15px;
}
.negrita {
  font-weight: bold;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
